body {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to bottom, #f9f9f9, #fff);
  color: #333;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}