.home {
  position: relative;
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}